[Unit]
Description=nfcmusik web service
After=network.target

[Service]
User={{ nfcmusik_run_user }}
WorkingDirectory={{ nfcmusik_home }}
Environment=FLASK_CONFIG=nfcmusik
Environment=FLASK_CONFIG=production
ExecStart=python3 -u controller.py
Restart=always

[Install]
WantedBy=multi-user.target