<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>nfcmusik</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap-theme.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='custom.css') }}">

  </head>
  <body>
    <div class="container">
        <h1>Welcome to <b>nfcmusik!</b></h1>
    </div>

    <div class="container" id="statusBox">
    </div>

    <div class="container" id="nfcStatusBox">
    </div>

    <div class="container">
        <h2>Available music files</h2>
        <ul id=musicFiles></ul>
    </div>

    <script src="{{ url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='controller.js') }}"></script>

    <script>
    // initialization
    $( document ).ready(function() {
        refreshMusicFiles();
        setStatus("Ready!");
        pollNFC();
    });
    </script>
  </body>
</html>
